{% extends "core/base.html"%}
{% block content %}
<!-- Start Landing Page Section  -->

<div class="landing">
  <div class="home-wrap">
    <div class="home-inner">
    </div>
  </div>
</div>

<div class="caption text-center">
  <h1>We Are <br> Romelo Technologies<span>.</span></h1>
  <h3>Landing Page Template</h3>
  <a class="btn custom-btn custom-btn-bg custom-btn-link" href="#courses"> Let's discuss your project </a>
</div>


<!-- End Landing Page Section -->

</div>
<!-- End Home section  -->

<!-- Start Course section -->
<div id="about" class="offset">
  <div class="col-12 narrow text-center">
    <h3 class="heading">About Us</h3>
    <p class="lead"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled </p>
    <a class="btn custom-btn custom-btn-bg custom-btn-link" href="#" target="_blank">Learn more</a>
  </div>

</div>
<!-- End Course section  -->

<!-- Start Featuressection -->
<div id="services" class="offset">
  <div class="jumbotron">
    <div class="narrow">
      <div class="col-12 text-center">
        <h3 class="heading ">Services</h3>
        <div class="heading-underline"></div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
            <h3>Maldives</h3>
            <p>it to make a type specimen book. It has survived not only five centuries</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-sliders-h fa-4x" data-fa-transform="shrink-3 up-5"></i>
            <h3>Santorini</h3>
            <p>it to make a type specimen book. It has survived not only five centuries</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature">
            <i class="fab fa-wpforms fa-4x" data-fa-transform="shrink-4 up-5"></i>
            <h3>Seychelles</h3>
            <p>it to make a type specimen book. It has survived not only five centuries</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- End Features section  -->

<!-- Start Resources section -->
<div id="projects" class="offset">
  <div class="fixed-background">
    <div class="row dark">
      <div class="col-12 text-center">
        <h3 class="heading">Projects</h3>
        <div class="heading-underline"></div>
      </div>
      <div class="col-md-4 text-center">
        <h3>Keras</h3>
        <div class="feature">
          <i class="fas fa-code fa-3x"></i>
        </div>
        <p class="lead">Built for designing the future</p>
      </div>
      <div class="col-md-4 text-center">
        <h3>Tenserflow</h3>
        <div class="feature">
          <i class="fas fa-bold fa-3x"></i>
        </div>
        <p class="lead">Re-imagine AI and its possibilities</p>
      </div>
      <div class="col-md-4 text-center">
        <h3>SckitLearn</h3>
        <div class="feature">
          <i class="fab fa-css3 fa-3x"></i>
        </div>
        <p class="lead">Beauty in the design of data</p>
      </div>

    </div>
    <div class="fixed-wrap">
      <div class="fixed"></div>

    </div>
  </div>


</div>
<!-- End Resources section  -->
<!-- Start Clients section -->
<div id="clients" class="offset">
  <div class="jumbotron">
    <div class="col-12 text-center">
      <h3 class="heading">Our Clients</h3>
      <div class="heading-underline"></div>
    </div>
    <div class="row">
      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4"><img src="static/images/client2.png" alt=""></div>
          <div class="col-md-8">
            <blockquote><i class="fas fa-quote-left"></i>
              It is a long established fact that a reader will be distracted by the readable content of a page
              <hr class="clients-hr">
              <cite>&#8212; Belle, Data Analyst</cite>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4"><img src="static/images/prof4.jpg" alt=""></div>
          <div class="col-md-8">
            <blockquote><i class="fas fa-quote-left"></i>
              It is a long established fact that a reader will be distracted by the readable content of a page
              <hr class="clients-hr">
              <cite>&#8212; Muna, Data Scientist</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 narrow text-center">
    <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</p>
    <a class="btn custom-btn custom-btn-bg custom-btn-link " href="" target="_blank">Join Us</a>
  </div>

</div>
<!-- End Clients section  -->
{% endblock content %}