{% extends "core/base.html" %}
{% block content %}
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row">

            <div class="col-lg-8">
                <h2 class="portfolio-title">{{project.project_name}}</h2>
                <div class="owl-carousel portfolio-details-carousel">
                    <img src="{{project.main_photo.url}}" class="img-fluid" alt="">
                    <img src="{{project.photo_2.url}}" class="img-fluid" alt="">
                    <img src="{{project.photo_3.url}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-4 portfolio-info">
                <h3>Project information</h3>
                <p>
                    {{project.description}}
                </p>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->
{% endblock %}