@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Maven Pro', sans-serif;
  color: #000000
}

.offset::before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* Navigation */
.navbar {
  font-weight: 700;
  font-size: 0.8 rem;
  letter-spacing: .1rem;
  background: rgb(0, 0, 0) !important;
}

.navbar-brand img {
  height: 3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-top: .8 rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #20bd67;
}

.navbar span {
  font-weight: 700;
  font-size: 1rem;
  color: #20bd67;
}

/* Landing Page */
.home-inner {
  background-image: url("/static/images/computers.png");
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #ffffff;
  text-transform: capitalize;
}

.caption h1 {
  font-size: 3rem;
  font-weight: 700;
  /* letter-spacing:.3rem; */
  /* text-shadow: .1rem .1rem .8rem black; */
  padding-bottom: 0.5rem;
}

.caption h3 {
  font-size: 1rem;
  /* text-shadow:.1rem .1rem .5rem black; */
  padding-bottom: 0.5rem;
}

.caption span {
  font-weight: 700;
  font-size: 3rem;
  color: #20bd67;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6 rem 1.3rem;
  font-size: 0.8 rem;
}

.custom-btn {
  background: #ffffff;
  color: #20bd67;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}

.custom-btn:hover {
  color: #20bd67;
}

.custom-btn.custom-btn-bg {
  background: #20bd67;
  color: #ffffff;
}

.custom-btn.custom-btn-bg:hover {
  background: #ffffff;
  color: #20bd67 !important;
}

/* Course Section */
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 1rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: #20bd67;
  border-color: #20bd67;
}

.btn-secondary:hover {
  background-color: #20bd67;
  border-color: #20bd67;
}

.lead {
  font-size: 0.8rem;
  margin-bottom: 1.9rem;
}

/*
Features Section */
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
  background-color: #ffffff;
}

h3.heading {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #20bd67;
  margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
  color: #20bd67;
}

.feature h3 {
  font-size: 1rem;
  padding-bottom: .4rem;
}

.feature p {
  font-size: 0.8rem;
}

/* Resources Section */
.fixed {
  background-image: url("/static/images/apple.png");
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
  font-size: 0.8rem;
}

/* Clients Section */
.clients img {
  width: 100%;
  border-radius: 50%;
}

blockquote.svg-inline--fa {
  color: #20bd67;
  margin: 1rem;
}

.clients-hr {
  border-top: .05rem solid #20bd67;
}

/* Contact Section */
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: #ffffff;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #20bd67 !important;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid;
  margin-top: 3rem;
}

/* Media Queries */
@media (max-width:767px) {
  .caption h1 {
    font-size: 1.5rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  .caption h3 {
    font-size: 0.8rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: .5 rem 1rem;
    font-size: 1 rem;
  }

  .narrow h1 {
    font-size: 0.8rem;
  }

  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}